# Pre-processing for the Deep Learning method

## Import libraries and load data

In [41]:
# Import libraries
import pandas as pd

In [42]:
# Load data
games = pd.read_csv("../data/games.csv")
games.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,09/08/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,09/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,09/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,09/11/2022,13:00:00,CIN,PIT,20,23

In [43]:
players = pd.read_csv("../data/players.csv")
players.head()

   nflId height  weight   birthDate     collegeName position     displayName
0  25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

In [44]:
plays = pd.read_csv("../data/plays.csv")
plays.head()

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,...,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
0,2022100908,3537,48723,Parker Hesse,(7:52) (Shotgun) M.Mariota pass short middle t...,4,1,10,ATL,TB,...,0.976785,0.023215,-0.006110,0.006110,2.360609,0.981955,NaN,NaN,NaN,NaN
1,2022091103,3126,52457,Chase Claypool,(7:38) (Shotgun) C.Claypool right end to PIT 3...,4,1,10,PIT,CIN,...,0.160485,0.839515,-0.010865,0.010865,1.733344,-0.263424,NaN,NaN,NaN,NaN
2,2022091111,1148,42547,Darren Waller,(8:57) D.Carr pass short middle to D.Waller to...,2,2,5,LV,LAC,...,0.756661,0.243339,-0.037409,0.037409,1.312855,1.133666,NaN,NaN,NaN,NaN
3,2022100212,2007,46461,Mike Boone,(13:12) M.Boone left tackle to DEN 44 for 7 ya...,3,2,10,DEN,LV,...,0.620552,0.379448,-0.002451,0.002451,1.641006,-0.043580,NaN,NaN,NaN,NaN
4,2022091900,1372,47857,Devin Singletary,(8:33) D.Singletary right guard to TEN 32 for ...,2,1,10,BUF,TEN,...,0.836290,0.163710,0.001053,-0.001053,3.686428,-0.167903,NaN,NaN,NaN,NaN

In [45]:
tackles = pd.read_csv("../data/tackles.csv")
tackles.head()

       gameId  playId  nflId  tackle  assist  forcedFumble  pff_missedTackle
0  2022090800     101  42816       1       0             0                 0
1  2022090800     393  46232       1       0             0                 0
2  2022090800     486  40166       1       0             0                 0
3  2022090800     646  47939       1       0             0                 0
4  2022090800     818  40107       1       0             0                 0

In [46]:
tracking_week_1 = pd.read_csv("../data/tracking_week_1.csv")
tracking_week_1.head()

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022090800,56,35472.0,Rodger Saffold,1,2022-09-08 20:24:05.200000,76.0,BUF,left,88.37,27.27,1.62,1.15,0.16,231.74,147.90,NaN
1,2022090800,56,35472.0,Rodger Saffold,2,2022-09-08 20:24:05.299999,76.0,BUF,left,88.47,27.13,1.67,0.61,0.17,230.98,148.53,pass_arrived
2,2022090800,56,35472.0,Rodger Saffold,3,2022-09-08 20:24:05.400000,76.0,BUF,left,88.56,27.01,1.57,0.49,0.15,230.98,147.05,NaN
3,2022090800,56,35472.0,Rodger Saffold,4,2022-09-08 20:24:05.500000,76.0,BUF,left,88.64,26.90,1.44,0.89,0.14,232.38,145.42,NaN
4,2022090800,56,35472.0,Rodger Saffold,5,2022-09-08 20:24:05.599999,76.0,BUF,left,88.72,26.80,1.29,1.24,0.13,233.36,141.95,NaN

## Step 0: Pre-Process Play-level data

### A) Filter for only run plays

In [47]:
# Filter for only run plays
run_plays = plays[-plays['playDescription'].str.contains('pass')]
run_plays.head()

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,...,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
1,2022091103,3126,52457,Chase Claypool,(7:38) (Shotgun) C.Claypool right end to PIT 3...,4,1,10,PIT,CIN,...,0.160485,0.839515,-0.010865,0.010865,1.733344,-0.263424,NaN,NaN,NaN,NaN
3,2022100212,2007,46461,Mike Boone,(13:12) M.Boone left tackle to DEN 44 for 7 ya...,3,2,10,DEN,LV,...,0.620552,0.379448,-0.002451,0.002451,1.641006,-0.043580,NaN,NaN,NaN,NaN
4,2022091900,1372,47857,Devin Singletary,(8:33) D.Singletary right guard to TEN 32 for ...,2,1,10,BUF,TEN,...,0.836290,0.163710,0.001053,-0.001053,3.686428,-0.167903,NaN,NaN,NaN,NaN
6,2022100207,2933,38538,Ryan Tannehill,(13:31) (Shotgun) R.Tannehill scrambles up the...,4,3,5,TEN,IND,...,0.230881,0.769119,0.027645,-0.027645,0.137272,-1.269624,NaN,NaN,NaN,NaN
7,2022102310,56,46377,Jeffery Wilson,(15:00) J.Wilson left tackle to SF 32 for 7 ya...,1,1,10,SF,KC,...,0.568721,0.431279,0.001382,-0.001382,1.298699,0.282340,NaN,NaN,NaN,NaN

### B) Feature selection

In [48]:
# Drop extra columns
run_plays_reduced = run_plays.drop(['yardlineSide', 'passResult', 'passLength',
       'penaltyYards', 'playResult', 'playNullifiedByPenalty', 'passProbability', 
       'preSnapHomeTeamWinProbability', 'preSnapVisitorTeamWinProbability', 
       'homeTeamWinProbabilityAdded', 'playDescription',
       'visitorTeamWinProbilityAdded', 'expectedPoints', 'expectedPointsAdded',
       'foulName1', 'foulName2', 'foulNFLId1', 'foulNFLId2'], axis = 1)
run_plays_reduced.head()

,gameId,playId,ballCarrierId,ballCarrierDisplayName,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineNumber,gameClock,preSnapHomeScore,preSnapVisitorScore,prePenaltyPlayResult,absoluteYardlineNumber,offenseFormation,defendersInTheBox
1,2022091103,3126,52457,Chase Claypool,4,1,10,PIT,CIN,34,7:38,14,20,3,76,SHOTGUN,7.0
3,2022100212,2007,46461,Mike Boone,3,2,10,DEN,LV,37,13:12,19,16,7,47,SINGLEBACK,6.0
4,2022091900,1372,47857,Devin Singletary,2,1,10,BUF,TEN,35,8:33,7,7,3,75,I_FORM,7.0
6,2022100207,2933,38538,Ryan Tannehill,4,3,5,TEN,IND,25,13:31,17,24,3,85,EMPTY,4.0
7,2022102310,56,46377,Jeffery Wilson,1,1,10,SF,KC,25,15:00,0,0,7,85,SINGLEBACK,7.0

In [49]:
# Rename outcome variable
run_plays_reduced = run_plays_reduced.rename(columns = {'prePenaltyPlayResult':'TARGET'})

In [50]:
# Rename pre-snap variables
pre_snap_vars = ['yardsToGo', 'yardlineNumber', 'gameClock']
for var in pre_snap_vars:
    new_name = "preSnap" + var[0].upper() + var[1:]
    run_plays_reduced = run_plays_reduced.rename(columns = {var:new_name})
run_plays_reduced

,gameId,playId,ballCarrierId,ballCarrierDisplayName,quarter,down,preSnapYardsToGo,possessionTeam,defensiveTeam,preSnapYardlineNumber,preSnapGameClock,preSnapHomeScore,preSnapVisitorScore,TARGET,absoluteYardlineNumber,offenseFormation,defendersInTheBox
1,2022091103,3126,52457,Chase Claypool,4,1,10,PIT,CIN,34,7:38,14,20,3,76,SHOTGUN,7.0
3,2022100212,2007,46461,Mike Boone,3,2,10,DEN,LV,37,13:12,19,16,7,47,SINGLEBACK,6.0
4,2022091900,1372,47857,Devin Singletary,2,1,10,BUF,TEN,35,8:33,7,7,3,75,I_FORM,7.0
6,2022100207,2933,38538,Ryan Tannehill,4,3,5,TEN,IND,25,13:31,17,24,3,85,EMPTY,4.0
7,2022102310,56,46377,Jeffery Wilson,1,1,10,SF,KC,25,15:00,0,0,7,85,SINGLEBACK,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12477,2022102307,1224,42358,Melvin Gordon,2,2,8,DEN,NYJ,50,14:18,6,7,1,60,SHOTGUN,6.0
12481,2022100204,123,43293,Ezekiel Elliott,1,1,10,DAL,WAS,39,13:31,0,0,1,49,SINGLEBACK,6.0
12483,2022101605,3371,44860,Joe Mixon,4,1,10,CIN,NO,41,9:35,26,21,6,69,SHOTGUN,6.0
12484,2022100207,2777,52449,Jonathan Taylor,3,1,10,IND,TEN,34,2:02,17,24,-2,44,SHOTGUN,6.0
12485,2022102308,905,54572,Dameon Pierce,2,3,1,HOU,LV,17,12:51,3,0,3,27,I_FORM,8.0

### C) Preliminary One Hot Encoding

In [51]:
qualitative_vars = ["possessionTeam", "defensiveTeam", "offenseFormation"]
run_plays_ohe = pd.get_dummies(data = run_plays_reduced, columns= qualitative_vars)
print("Old df shape:" + str(run_plays_reduced.shape))
print("New df shape:" + str(run_plays_ohe.shape))
run_plays_ohe

Old df shape:(6840, 17)
New df shape:(6840, 85)

,gameId,playId,ballCarrierId,ballCarrierDisplayName,quarter,down,preSnapYardsToGo,preSnapYardlineNumber,preSnapGameClock,preSnapHomeScore,...,defensiveTeam_TB,defensiveTeam_TEN,defensiveTeam_WAS,offenseFormation_EMPTY,offenseFormation_I_FORM,offenseFormation_JUMBO,offenseFormation_PISTOL,offenseFormation_SHOTGUN,offenseFormation_SINGLEBACK,offenseFormation_WILDCAT
1,2022091103,3126,52457,Chase Claypool,4,1,10,34,7:38,14,...,0,0,0,0,0,0,0,1,0,0
3,2022100212,2007,46461,Mike Boone,3,2,10,37,13:12,19,...,0,0,0,0,0,0,0,0,1,0
4,2022091900,1372,47857,Devin Singletary,2,1,10,35,8:33,7,...,0,1,0,0,1,0,0,0,0,0
6,2022100207,2933,38538,Ryan Tannehill,4,3,5,25,13:31,17,...,0,0,0,1,0,0,0,0,0,0
7,2022102310,56,46377,Jeffery Wilson,1,1,10,25,15:00,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12477,2022102307,1224,42358,Melvin Gordon,2,2,8,50,14:18,6,...,0,0,0,0,0,0,0,1,0,0
12481,2022100204,123,43293,Ezekiel Elliott,1,1,10,39,13:31,0,...,0,0,1,0,0,0,0,0,1,0
12483,2022101605,3371,44860,Joe Mixon,4,1,10,41,9:35,26,...,0,0,0,0,0,0,0,1,0,0
12484,2022100207,2777,52449,Jonathan Taylor,3,1,10,34,2:02,17,...,0,1,0,0,0,0,0,1,0,0
12485,2022102308,905,54572,Dameon Pierce,2,3,1,17,12:51,3,...,0,0,0,0,1,0,0,0,0,0

In [52]:
run_plays_ohe.columns

Index(['gameId', 'playId', 'ballCarrierId', 'ballCarrierDisplayName',
       'quarter', 'down', 'preSnapYardsToGo', 'preSnapYardlineNumber',
       'preSnapGameClock', 'preSnapHomeScore', 'preSnapVisitorScore', 'TARGET',
       'absoluteYardlineNumber', 'defendersInTheBox', 'possessionTeam_ARI',
       'possessionTeam_ATL', 'possessionTeam_BAL', 'possessionTeam_BUF',
       'possessionTeam_CAR', 'possessionTeam_CHI', 'possessionTeam_CIN',
       'possessionTeam_CLE', 'possessionTeam_DAL', 'possessionTeam_DEN',
       'possessionTeam_DET', 'possessionTeam_GB', 'possessionTeam_HOU',
       'possessionTeam_IND', 'possessionTeam_JAX', 'possessionTeam_KC',
       'possessionTeam_LA', 'possessionTeam_LAC', 'possessionTeam_LV',
       'possessionTeam_MIA', 'possessionTeam_MIN', 'possessionTeam_NE',
       'possessionTeam_NO', 'possessionTeam_NYG', 'possessionTeam_NYJ',
       'possessionTeam_PHI', 'possessionTeam_PIT', 'possessionTeam_SEA',
       'possessionTeam_SF', 'possessionTeam_TB', 'possessionTeam_TEN',
       'possessionTeam_WAS', 'defensiveTeam_ARI', 'defensiveTeam_ATL',
       'defensiveTeam_BAL', 'defensiveTeam_BUF', 'defensiveTeam_CAR',
       'defensiveTeam_CHI', 'defensiveTeam_CIN', 'defensiveTeam_CLE',
       'defensiveTeam_DAL', 'defensiveTeam_DEN', 'defensiveTeam_DET',
       'defensiveTeam_GB', 'defensiveTeam_HOU', 'defensiveTeam_IND',
       'defensiveTeam_JAX', 'defensiveTeam_KC', 'defensiveTeam_LA',
       'defensiveTeam_LAC', 'defensiveTeam_LV', 'defensiveTeam_MIA',
       'defensiveTeam_MIN', 'defensiveTeam_NE', 'defensiveTeam_NO',
       'defensiveTeam_NYG', 'defensiveTeam_NYJ', 'defensiveTeam_PHI',
       'defensiveTeam_PIT', 'defensiveTeam_SEA', 'defensiveTeam_SF',
       'defensiveTeam_TB', 'defensiveTeam_TEN', 'defensiveTeam_WAS',
       'offenseFormation_EMPTY', 'offenseFormation_I_FORM',
       'offenseFormation_JUMBO', 'offenseFormation_PISTOL',
       'offenseFormation_SHOTGUN', 'offenseFormation_SINGLEBACK',
       'offenseFormation_WILDCAT'],
      dtype='object')

### D) Join with games data

In [119]:
run_df_clean = games[['gameId', 'week']].merge(run_plays_ohe, on='gameId')
print("pre-join shape: "  + str(run_plays_ohe.shape))
print("post-join shape: " + str(run_df_clean.shape))
run_df_clean.head()

pre-join shape: (6840, 85)
post-join shape: (6840, 86)

,gameId,week,playId,ballCarrierId,ballCarrierDisplayName,quarter,down,preSnapYardsToGo,preSnapYardlineNumber,preSnapGameClock,...,defensiveTeam_TB,defensiveTeam_TEN,defensiveTeam_WAS,offenseFormation_EMPTY,offenseFormation_I_FORM,offenseFormation_JUMBO,offenseFormation_PISTOL,offenseFormation_SHOTGUN,offenseFormation_SINGLEBACK,offenseFormation_WILDCAT
0,2022090800,1,3304,52494,Zack Moss,4,2,6,20,5:27,...,0,0,0,0,1,0,0,0,0,0
1,2022090800,1,2648,46076,Josh Allen,3,2,10,44,0:33,...,0,0,0,0,0,0,0,1,0,0
2,2022090800,1,2072,47857,Devin Singletary,3,1,10,46,12:22,...,0,0,0,0,0,0,0,1,0,0
3,2022090800,1,2093,46076,Josh Allen,3,2,9,45,11:35,...,0,0,0,0,0,0,0,1,0,0
4,2022090800,1,1946,47853,Darrell Henderson,3,1,10,11,14:55,...,0,0,0,0,0,0,0,0,1,0

## Step 1: Pre-Process tracking data

### A) Drop passing plays (IN PROGRESS)

In [125]:
# Get plays for only week 1
run_play_ids = run_df_clean[run_df_clean['week'] == 1][['gameId','playId']].drop_duplicates()

def drop_non_run_plays(run_play_ids, tracking_df):
    # Merge to filter unique combinations from tracking_df
    # filtered_tracking_df = pd.merge(tracking_df, run_play_ids, on=['gameId', 'playId'], how = 'inner')
    # Boolean indexing to filter unique combinations from tracking_df
    filtered_tracking_df = tracking_df[tracking_df[['gameId', 'playId']].apply(tuple, axis=1).isin(run_play_ids.apply(tuple, axis=1))]
    print("original tracking df shape: " + str(tracking_df.shape))
    print("unique play and game id combos: " + str(run_play_ids.shape))
    print("filtered df shape: " + str(filtered_tracking_df.shape))
    # print("filtered df shape using longer method: " + str(filtered_tracking_df_2.shape))

    # id1 = filtered_tracking_df[['gameId','playId']].drop_duplicates()
    # id2 = filtered_tracking_df_2[['gameId','playId']].drop_duplicates()
    # print(id1.drop_duplicates().equals(id2.drop_duplicates()))
    return filtered_tracking_df

In [126]:
filtered_df = drop_non_run_plays(run_play_ids, tracking_week_1)

original tracking df shape: (1407439, 17)
unique play and game id combos: (785, 2)
filtered df shape: (963746, 17)

In [127]:
print(filtered_df[['gameId','playId']].drop_duplicates().shape)
run_play_ids.equals(filtered_df[['gameId','playId']].drop_duplicates())

(785, 2)

False

### B) Join tracking, play, and player dataframes

In [76]:
# Methods to link dataframes

def join_play_tracking_data(play_df, tracking_df):
    merged_df = pd.merge(tracking_df, play_df, on=['playId', 'gameId'], how='left')
    print("joined dataframes")
    print("original tracking shape: " + str(tracking_week_1.shape))
    print("merged data shape: " + str(merged_df.shape))
    return merged_df 

def join_player_tracking_data(player_df, tracking_df):
    merged_df = pd.merge(tracking_df, player_df, on=['playerId'], how='left')
    print("original tracking shape: " + str(tracking_week_1.shape))
    print("merged data shape: " + str(merged_df.shape))
    return merged_df

In [84]:
merged_df = join_play_tracking_data(run_plays_ohe, tracking_week_1)
merged_df.head()

joined dataframes
original tracking shape:(1407439, 17)
merged data shape:(1407439, 100)

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,...,defensiveTeam_TB,defensiveTeam_TEN,defensiveTeam_WAS,offenseFormation_EMPTY,offenseFormation_I_FORM,offenseFormation_JUMBO,offenseFormation_PISTOL,offenseFormation_SHOTGUN,offenseFormation_SINGLEBACK,offenseFormation_WILDCAT
0,2022090800,56,35472.0,Rodger Saffold,1,2022-09-08 20:24:05.200000,76.0,BUF,left,88.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022090800,56,35472.0,Rodger Saffold,2,2022-09-08 20:24:05.299999,76.0,BUF,left,88.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022090800,56,35472.0,Rodger Saffold,3,2022-09-08 20:24:05.400000,76.0,BUF,left,88.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022090800,56,35472.0,Rodger Saffold,4,2022-09-08 20:24:05.500000,76.0,BUF,left,88.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022090800,56,35472.0,Rodger Saffold,5,2022-09-08 20:24:05.599999,76.0,BUF,left,88.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Questions:

What to do about OHE every player or not?

To Do:

Link with player data (hiehgt, weight, age) AFTER merging with the tracking data so it gets data on everyone