# Preprocess all data

In [1]:
import pandas as pd
from Preprocessing import *
from DataLoader import load_data

In [2]:
[games_df, players_df, plays_df, tracking_df] = load_data()

loaded games df
shape: (136, 9)
-----
loaded players df
shape: (1683, 7)
-----
loaded plays df
shape: (12486, 35)
-----
loading tracking frames...
loaded tracking frames
shape: (12187398, 17)
returning 4 frames

In [3]:
clean_df = preprocess_all_df(plays_df, games_df, players_df, tracking_df)

cleaning plays_df
final plays data shape: (6840, 289)
-----

cleaning games_df
-----

cleaning players_df
-----

cleaning players_df
original tracking df shape: (12187398, 17)
unique play and game id combos: (6840, 2)
filtered df shape: (8458178, 17)
number of merge errors: 0
joined plays and tracking dataframes
original tracking shape: (8458178, 17)
merged data shape: (8458178, 304)
-------
joined players and tracking dataframes
original tracking shape: (8458178, 304)
merged data shape: (8458178, 307)
-------
joined games and tracking dataframes
original tracking shape: (8458178, 307)
merged data shape: (8458178, 308)
-------
Old df shape:(8458178, 315)
New df shape:(8458178, 347)
-----

In [4]:
clean_df.head()

,gameId,playId,nflId,frameId,time,s,a,dis,event,week,...,club_NYG,club_NYJ,club_PHI,club_PIT,club_SEA,club_SF,club_TB,club_TEN,club_WAS,club_football
0,2022090800,80,35472.0,1,2022-09-08 20:24:35.700000,2.43,0.37,0.24,NaN,1,...,0,0,0,0,0,0,0,0,0,0
1,2022090800,80,35472.0,2,2022-09-08 20:24:35.799999,2.34,0.93,0.24,NaN,1,...,0,0,0,0,0,0,0,0,0,0
2,2022090800,80,35472.0,3,2022-09-08 20:24:35.900000,2.20,1.39,0.22,NaN,1,...,0,0,0,0,0,0,0,0,0,0
3,2022090800,80,35472.0,4,2022-09-08 20:24:36.000000,1.96,1.87,0.20,NaN,1,...,0,0,0,0,0,0,0,0,0,0
4,2022090800,80,35472.0,5,2022-09-08 20:24:36.099999,1.62,2.42,0.16,NaN,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
clean_df.isna().sum().sort_values()[-10:]

ballCarrierDisplayName_Devin Duvernay          0
ballCarrierDisplayName_Derrick Henry           0
ballCarrierDisplayName_Durham Smythe           0
club_football                                  0
defendersInTheBox                           3151
weight                                    367920
heightInches                              367920
nflId                                     367920
age                                      2219840
event                                    7831307
dtype: int64