# Preprocess all data

In [1]:
import pandas as pd
from Preprocessing import *
from DataLoader import load_data

In [2]:
[games_df, players_df, plays_df, tracking_df] = load_data()

loaded games df
shape: (136, 9)
-----
loaded players df
shape: (1683, 7)
-----
loaded plays df
shape: (12486, 35)
-----
loading tracking frames...
loaded tracking frames
shape: (12187398, 17)
returning 4 frames

In [3]:
clean_df = preprocess_all_df(plays_df, games_df, players_df, tracking_df)

cleaning plays_df
final plays data shape: (6840, 289)
-----

cleaning games_df
-----

cleaning players_df
-----

cleaning tracking_df
original tracking df shape: (12187398, 17)
unique play and game id combos: (6840, 2)
filtered df shape: (8458178, 17)
number of merge errors: 0
joined plays and tracking dataframes
original tracking shape: (8458178, 17)
merged data shape: (8458178, 304)
-------
joined players and tracking dataframes
original tracking shape: (8458178, 304)
merged data shape: (8458178, 306)
-------
joined games and tracking dataframes
original tracking shape: (8458178, 306)
merged data shape: (8458178, 307)
-------
Old df shape:(8458178, 314)
New df shape:(8458178, 346)
-----

In [4]:
clean_df.head()

,gameId,playId,nflId,frameId,time,s,a,dis,event,week,...,club_NYG,club_NYJ,club_PHI,club_PIT,club_SEA,club_SF,club_TB,club_TEN,club_WAS,club_football
0,2022090800,80,35472.0,1,2022-09-08 20:24:35.700000,2.43,0.37,0.24,NaN,1,...,0,0,0,0,0,0,0,0,0,0
1,2022090800,80,35472.0,2,2022-09-08 20:24:35.799999,2.34,0.93,0.24,NaN,1,...,0,0,0,0,0,0,0,0,0,0
2,2022090800,80,35472.0,3,2022-09-08 20:24:35.900000,2.20,1.39,0.22,NaN,1,...,0,0,0,0,0,0,0,0,0,0
3,2022090800,80,35472.0,4,2022-09-08 20:24:36.000000,1.96,1.87,0.20,NaN,1,...,0,0,0,0,0,0,0,0,0,0
4,2022090800,80,35472.0,5,2022-09-08 20:24:36.099999,1.62,2.42,0.16,NaN,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
clean_df.isna().sum().sort_values()[-10:]

ballCarrierDisplayName_Devin Singletary          0
ballCarrierDisplayName_Devin Duvernay            0
ballCarrierDisplayName_Derrick Henry             0
ballCarrierDisplayName_Durham Smythe             0
club_football                                    0
defendersInTheBox                             3151
weight                                      367920
heightInches                                367920
nflId                                       367920
event                                      7831307
dtype: int64

In [6]:
clean_df.columns

Index(['gameId', 'playId', 'nflId', 'frameId', 'time', 's', 'a', 'dis',
       'event', 'week',
       ...
       'club_NYG', 'club_NYJ', 'club_PHI', 'club_PIT', 'club_SEA', 'club_SF',
       'club_TB', 'club_TEN', 'club_WAS', 'club_football'],
      dtype='object', length=336)

In [7]:
# INvestigate NaN in plays
plays_df_clean = preprocess_plays_df(plays_df, games_df)
players_df_clean = preprocess_players_df(players_df)

final plays data shape: (6840, 289)

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
# pd.reset_option('display.max_colwidth')

In [9]:
plays_df_clean[plays_df_clean['defendersInTheBox'].isna()][['gameId', 'playId']]

          gameId  playId
1173  2022091807    3597
1779  2022092503     700
5268  2022102311    3663

In [10]:
plays_df[(plays_df['gameId'].isin(plays_df_clean[plays_df_clean['defendersInTheBox'].isna()]['gameId'])) & (plays_df['playId'].isin(plays_df_clean[plays_df_clean['defendersInTheBox'].isna()]['playId']))]

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,gameClock,preSnapHomeScore,preSnapVisitorScore,passResult,passLength,penaltyYards,prePenaltyPlayResult,playResult,playNullifiedByPenalty,absoluteYardlineNumber,offenseFormation,defendersInTheBox,passProbability,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
1975,2022102311,3663,54485,Kenny Pickett,"(3:14) (Shotgun) K.Pickett scrambles left end to MIA 15 for 5 yards (J.Phillips). MIA-J.Phillips was injured during the play. PENALTY on PIT-D.Moore, Offensive Holding, 10 yards, enforced at MIA 20 - No Play.",4,3,6,PIT,MIA,MIA,20,3:14,16,10,R,NaN,-10.0,5,-10,Y,90,NaN,NaN,NaN,0.802690,0.197310,0.041018,-0.041018,3.348917,-0.964742,Offensive Holding,NaN,53557.0,NaN
5770,2022091807,3597,46830,Brandon Powell,"(:13) (Run formation) B.Powell right end ran ob in End Zone for -26 yards, SAFETY (D.Alford).",4,4,7,LA,ATL,LA,26,0:13,31,25,NaN,NaN,NaN,-26,-26,N,84,SHOTGUN,NaN,0.059712,0.995626,0.004374,-0.000174,0.000174,0.007420,-2.007420,NaN,NaN,NaN,NaN
8558,2022092503,700,52413,Tua Tagovailoa,"(4:48) (No Huddle) T.Tagovailoa up the middle to BUF 1 for no gain (S.Lawson). PENALTY on BUF-S.Lawson, Defensive Offside, 0 yards, enforced at BUF 1 - No Play.",1,2,1,MIA,BUF,BUF,1,4:48,0,7,NaN,NaN,0.0,0,0,Y,11,NaN,NaN,NaN,0.386114,0.613886,-0.002147,0.002147,6.134121,0.000186,Defensive Offside,NaN,43308.0,NaN

In [11]:
players_df.isna().sum().sort_values()

nflId             0
height            0
weight            0
collegeName       0
position          0
displayName       0
heightInches      0
birthDate       479
age             479
dtype: int64

In [12]:
players_df[players_df['birthDate'].isna()]

,nflId,height,weight,birthDate,collegeName,position,displayName,heightInches,age
992,52272,6-0,170,NaT,Tusculum,CB,Dee Alford,72,NaN
1010,52430,6-3,192,NaT,Louisiana State,WR,Justin Jefferson,75,NaN
1036,52459,6-2,207,NaT,Alabama,CB,Trevon Diggs,74,NaN
1041,52464,6-7,310,NaT,Alabama,NT,Raekwon Davis,79,NaN
1101,52539,6-2,308,NaT,Louisiana State,NT,Rashard Lawrence,74,NaN
...,...,...,...,...,...,...,...,...,...
1678,55200,6-6,266,NaT,Indiana,DT,Ryder Anderson,78,NaN
1679,55212,6-0,230,NaT,Iowa State,ILB,Jake Hummel,72,NaN
1680,55239,6-2,300,NaT,Pennsylvania,DT,Prince Emili,74,NaN
1681,55240,6-1,185,NaT,Buffalo,CB,Ja'Marcus Ingram,73,NaN
1682,55241,6-2,280,NaT,Coastal Carolina,DT,C.J. Brewer,74,NaN